<header class="header-container">
    <!-- <div class="about-text-container">
        <p class="about-text">
            Software Engineer, Architect, Instructor, Mentor, Husband
        </p>
    </div> -->
    <div class="header-background"></div>
    <div class="header-content-container">
        <div class="header-elements text-section">
            <p style="color: rgb(22, 181, 22); font-size: 3rem;">Hi</p>
            <p>Am treasure, founder and CEO of TTech</p>
            <p class="about-text" [ngStyle]="{'background-image': gradient}">I build professional websites and applications,
                ranging from a simple portfolio such as this, to a more complex
                service driven application. With several years of building complex websites,
                Am your best shot at getting that professional, dynamic interface in a ready to use state.

            </p>
            <p class="changeables" >{{stringTo}}</p>
            <button class="toggle-style" (click)="toggleColor($event)">Toggle</button>
        </div>
        <div class="header-elements">
            <img src="../../assets/images/goku.png" alt="goku ultra instincts" srcset="">
        </div> 
    </div>

    
</header>