.navbarWors {
    width: 100%;
    background: black;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    .login-nav {
        padding-right: 2rem;

        li {
            list-style-type: none;
            font-size: 1.1rem;
            cursor: pointer;
            display: inline-block;
            padding: 1.2rem;

            a {
                text-decoration: none;
                color: white;

                &:hover {
                    color:rgb(22, 181, 22);
                }
            }

            
        }
    }

    .logoNav {
        padding-left: 2rem;
        font-size: 1.1rem;

        #portFolio {
            color: rgb(22, 181, 22);
        }

    }

    .navLinks {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .navItem {
            font-size: 1.1rem;
            list-style: none;
            margin: 0rem 2rem;
            cursor: pointer;

            .navLink {
                text-decoration: none;
                color: white;
                text-transform: capitalize;
                
                &:hover {
                    color:rgb(22, 181, 22);
                }

            }
        }

    }

    .user-pane {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        padding-right: 2rem;
        align-items: center;

        button.logout-btn {
            padding: 1rem;
            background-color: rgb(22, 181, 22);
            border-radius: 1rem;
            color: white;
            transition: all 0.5s ease;
            border: none;
            outline: none;
            cursor: pointer;

            &:hover {
                background-color: rgba(22, 181, 22, 0.5);;
            }


        }
    }
}