<nav class="navbarWors">
    <div class="logoNav">
        <h1><span id="portFolio">Port</span>folio</h1>
        </div>
    <ul class="navLinks">
        <li class="navItem"><a href="Home" class="navLink">Home</a></li>
        <li class="navItem"><a href="Contact" class="navLink">Contact</a></li>
        <li class="navItem"><a href="About" class="navLink">About</a></li>
        <li class="navItem"><a href="Portfolio" class="navLink">Portfolio</a></li>
        <li class="navItem"><a href="#" class="navLink">
            <span style="color: yellowgreen;">
                <small>
                    <i>
                        {{notificationNumber}}
                    </i>
                </small>
            </span>
            notification
        </a></li>

    </ul>
</nav>
<!-- <nav class="secondNav">

</nav> -->
