<section class="auth-container">
    <form class="form">
        <input [(ngModel)]="username" type="text" name = "username" class="form-controls" placeholder="Username">
        <span>{{ username }}</span>
        <input [(ngModel)]="email" type="text" name="email"  class="form-controls" placeholder="Email">
        <span>{{ email }}</span>
        <input [(ngModel)]="password" type="text" name="password"  class="form-controls" placeholder="Password">
        <span>{{ password }}</span>

        <button type="button" class="submit-btn" (click)="register($event)">Register</button>
    </form>
</section>