.tasks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}

::-webkit-scrollbar {
    display: none;
}

.task-item {
    cursor: pointer;
    text-align: center;
    margin: 1rem;
    border-radius: 10px;
    width: 20%;
    height: 250px;
    padding: 3rem;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.5);
    overflow-y: scroll;
    overflow-wrap: break-word;
    transition: all 0.5s ease;

    &:hover {
        transform: scale(1.1);
    }

    h1 {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    p {
        font-size: 1.5rem;
        padding: 0.5rem 0;
    }
}